<div class="content" *ngIf="dataLoaded; else skeleton">
    <div class="posts">
        <table>
            <thead>
                <tr>
                    <th>Comments</th>
                    <th>Vote Count</th>
                    <th>UpVote</th>
                    <th>News Details</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let post of posts">
                    <tr *ngIf="post.title && !post.isHide">
                        <td>{{post.num_comments || '-'}}</td>
                        <td>{{post.points || '-'}}</td>
                        <td class="text-center">
                            <a class="c-pointer up-vote" (click)="upVote(post)">
                            </a>
                        </td>
                        <td>
                            <span class="title c-pointer" [routerLink]="['/item', post.objectID]">
                                {{post.title}} 
                            </span>
                            <a [href]="post.url" target="_blank" *ngIf="post.url">
                                ({{post.url}})
                            </a>
                            by
                            <span class="bold c-pointer" [routerLink]="['/user', post.author]">
                                {{post.author}}
                            </span>
                            {{post.created_at_i*1000 | dateAgo}}
                            [ <a class="bold c-pointer" (click)="hide(post)">hide</a> ]
                            <p *ngIf="!post.url" [innerHTML]="post.story_text"></p>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <a *ngIf="currentPage > 0" routerLink="" [queryParams]="{ page: currentPage - 1, hitsPerPage: hitsPerPage }">Previous</a>
        <a *ngIf="currentPage < maxPages" routerLink="" [queryParams]="{ page: currentPage + 1, hitsPerPage: hitsPerPage }" >Next</a>
    </div>
</div>

<ng-template #skeleton>
    <div class="skelton">
        <h2 *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]"></h2>
    </div>
</ng-template>